<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitter US Airline Sentiment</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="home">

      <h1>
        Welcome to the "Twitter US Airline Sentiment" explorer
      </h1>
	
        <a href="/basic"><h2>Basic</h2></a>
        <a href="/creative"><h2>Creative</h2></a>
        <a href="/advanced"><h2>Advanced</h2></a>
        <a href="/questions"><h2>Questions</h2></a>
        <p>Charles Lynch</p>
    </main>
    

  </body>
</html>